@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.wpbiker{
	font-family: 'Open Sans Regular', sans-serif;
    color: #363636;
    font-size: 14px;
    margin: 10px 10px 0 0px;
}
.wpbiker h1{
	font-weight: 300;
	line-height: 1.4em;
	font-size: 36px;
}
.wpbiker h2{	
	font-weight: 300;
	line-height: 1.4em;
	font-size: 22px;
}
.wpbiker h3{
	font-weight: 300;
    margin: 0 0 5px 0;
    font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ececec;
}
#wpbiker-leftcol { 
	float: left; 
	width: 74%; 
}
#wpbiker-rightcol { 
	margin-left: 75%; 
}
.wpbikerbox{
	width: 100%;
    background: #fff;
    padding: 10px;    
    margin-top: 25px;
    box-sizing: border-box;
}
.wpbiker table{
	width:100%;
	background:#fff;
	padding: 10px;
	margin-top:10px;
	font-weight: 200;
	text-align:left;
}
.wpbiker table th {	
	border-bottom:1px solid #eee;	
}
.wpbiker table th, .wpbiker table td{		
	padding:10px 5px;	
}
.wpbiker table th:nth-child(1){	
	width:10%;
}
.wpbiker table th:nth-child(2){	
	width:20%;
}
.wpbiker table th:nth-child(3){	
	width:25%;
}
.wpbiker table th:nth-child(4), .wpbiker table th:nth-child(5), .wpbiker table th:nth-child(6){	
	width:15%;
}
.wpbiker table th u {
	text-decoration: none;
}
input.input-12, textarea.input-12,select.input-12 {
	width: 95% !important;
}
input.input-6, textarea.input-6,select.input-6{
	width: 90% !important;
}
.wpbiker-admin{	
	box-shadow: none;		
	overflow: auto;
	color:#000;
	max-width:100%;
	overflow:hidden;
}
.wpbiker-admin input[type=text],.wpbiker-admin input[type=tel],.wpbiker-admin input[type=number], .wpbiker-admin input[type=date], .wpbiker-admin select , .wpbiker-admin textarea{
	border-radius: 3px;
	border: 1px solid #cecece;
	padding: 10px;
	width: 80%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}	
input.input-100, textarea.input-100,select.input-100 {
	width: 99.9% !important;
}
input.input-12, textarea.input-12,select.input-12 {
	width: 95% !important;
}
input.input-6, textarea.input-6,select.input-6{
	width: 90% !important;
}
.wpbiker-admin textarea{height:150px;}	
.wpbiker-admin select {height:40px;}
.signup textarea{width: 90%;}
.wpbiker-admin-col {
	position:relative;
	width: 100%;
	float: left;	
	min-height: 1px;	
	white-space: normal;
}  
.wpbiker-admin-col-1, .wpbiker-admin-col-2, .wpbiker-admin-col-3, .wpbiker-admin-col-4, .wpbiker-admin-col-5, .wpbiker-admin-col-6, .wpbiker-admin-col-7, .wpbiker-admin-col-8, .wpbiker-admin-col-9, .wpbiker-admin-col-10, .wpbiker-admin-col-11, .wpbiker-admin-col-12 {
	float: left;	
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	padding-bottom:15px;
}    
.wpbiker-admin-col-12 {width: 100%;}
.wpbiker-admin-col-11 {width: 91.66666666666666%;}
.wpbiker-admin-col-10 {width: 83.33333333333334%;}
.wpbiker-admin-col-9 {width: 75%;}
.wpbiker-admin-col-8 {width: 66.66666666666666%;}
.wpbiker-admin-col-7 {width: 58.333333333333336%;}
.wpbiker-admin-col-6 {width: 50%;}
.wpbiker-admin-col-5 {width: 41.66666666666667%;}
.wpbiker-admin-col-4 {width: 33.33333333333333%;}
.wpbiker-admin-col-3 {width: 25%;}
.wpbiker-admin-col-2 {width: 16.666666666666664%;}
.wpbiker-admin-col-1 {width: 8.333333333333332%;}
.right {
	text-align: right;
}
.adminblock{
}
ul.wpbiker-admin-menu {
	list-style: none;
	margin-top: 20px;
}
ul.wpbiker-admin-menu li {
	display: inline
}
ul.wpbiker-admin-menu li a {
	display: inline-block;
	width: 128px;
	height: 32px;
	background: #37c781;
	border-radius: 3px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
ul.wpbiker-admin-menu li a:hover {
	background: #303030;
}
ul.wpbiker-admin-menu li a.selected {
	background: #303030;
}
.err {
	color:#e95645;
	font-weight:500;
	font-size:12px;
}
.wpbiker-admin-col .title {
	display:block;
	font-weight:700;
	padding:5px;
}
.wpbiker-admin-col .param {
	display:block;
	padding:0px 15px;
}
.tab-box{
	width: 100%;   
    margin-right: 80px;
    margin-top: 25px;
    box-sizing: border-box;
}
.tab-box:after{
	clear:both; 
	content:""; 
	display:block;
}
.tab-nav{
	margin:0;
	padding:0;
	list-style:none;
	width:100px;
	float:left;
}
.tab-nav li{
	float:left;
	margin-bottom:1px;
}
.tab-nav li a{
	display:inline-block;
	width:110px;
	padding:10px 10px;
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.tab-nav li a:hover{
	color:#000;
	text-decoration:none;
	background: #fff;
}
.tab-nav li.select a{ 
	
	background: #fff;  
}
.tab-nav .active{
	display:inline-block;
	padding:5px;
}
.tab-box>div{
	margin:0 0 0 130px;
	padding:10px;
}
.tab-panels{
	background:#fff;
	overflow:auto;
	min-height: 300px;
}
.wpbikercolom{
	position:relative;
	width: 100%;
	float: left;	
}
.wpbiker-title{
	margin-top: 25px;
}
p.wpbikerdel{
	margin-top:15px;
}
.wpbikerdel a{	
	color:#e95645;	
}
.wpbiker-btn {
	display: inline-block;	
	padding: 0px 30px;
	height: 42px;
	background: #37c781;
	border-radius: 3px;
	line-height: 42px;
	text-align: center;
	color: #fff !important;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}
.wpbiker-btn:hover {
	background: #303030;
}
.wpbiker-btn:active {
	background: #303030;
}
.wpbiker-admin-col ul {
	list-style: square outside;	
	padding-left: 25px;
}
.wpbiker-admin-col li {
	margin-left: 15px;
}

.wpbikericon {
	font-size:24px;
}

.wpbiker-plugins li:before{
	font-family: 'FontAwesome';
	content: '\f00c';
	margin:0 10px;
}